html, body {
  background-color: #1c1a1a;
  color: #b9b4b3;
  margin: 0;
  height: 100%;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.mainblock {
  text-align: left;
  background-color: #161515;
  display: inline-block;
  border: 2px solid #0b0505;
  margin: 1rem;
}

content {
  padding: 3rem;
  display: inline-block;
}

.code {
  font-family: monospace;
}

h2,
h1 {
  text-align: left;
  color: rgb(150, 107, 107);
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

p {
  max-width: 40rem;
}

.new-date {
  color: #6b6564;
  border-right: 1px solid #6b6564;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.placeholder {
  height: 4rem;
  width: 4rem;
}

footer {
  padding: 1rem 3rem;
  background-color: #0b0505;
}

/* grid */

.grid-title {
  margin-top: 1rem;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
}
.grid-title.demo {
  color: #0b0505;
  background-color: rgb(150, 107, 107);
}
.grid-title p {
  padding: 0.2rem;
  display: inline-block;
  margin: 0;
  flex-grow: 1;
  max-width: none;
}

.grid {
  width: 40rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
}
.grid.demo {
  background-color: rgb(185, 146, 146);
  background-position: 0.5rem 0;
  background-size: calc((2 * 100% - 2rem) / var(--grid_columns)) 100%;
  background-image:
    linear-gradient(to right,  rgb(172, 131, 131) 50%, transparent 50%),
    linear-gradient(to bottom, transparent 50%, transparent 50%);
}
.grid.width-1 {
  --grid_columns: 1;
}
.grid.width-2 {
  --grid_columns: 2;
}
.grid.width-3 {
  --grid_columns: 3;
}
.grid.width-4 {
  --grid_columns: 4;
}
.grid.width-5 {
  --grid_columns: 5;
}
.grid.width-6 {
  --grid_columns: 6;
}
.grid.width-7 {
  --grid_columns: 7;
}
.grid.width-8 {
  --grid_columns: 8;
}
.grid.width-9 {
  --grid_columns: 9;
}
.grid.width-10 {
  --grid_columns: 10;
}

/* cells */

.grid > .cell {
  position: relative;
  box-sizing: border-box;
  margin: 0.5rem;
  font-weight: 400;
  background-color: rgb(150, 107, 107);
  border: 2px solid #0b0505b3;
  color: #0b0505;
  transition: width 2s;
  width: calc(var(--cell_width) * 100% / var(--grid_columns) - 1rem);
}
.grid.mindiff_layout > .cell {
  transition: width 0.5s;
}
.grid.mindiff_layout.time_animate > .cell {
  transition: width 0s;
}
.grid > .cell:hover {
  border: 2px solid #0b0505;
}

.grid > .cell.width-1 {
  --cell_width: 1;
}
.grid > .cell.width-2 {
  --cell_width: 2;
}
.grid > .cell.width-3 {
  --cell_width: 3;
}
.grid > .cell.width-4 {
  --cell_width: 4;
}
.grid > .cell.width-5 {
  --cell_width: 5;
}
.grid > .cell.width-6 {
  --cell_width: 6;
}
.grid > .cell.width-7 {
  --cell_width: 7;
}
.grid > .cell.width-8 {
  --cell_width: 8;
}
.grid > .cell.width-9 {
  --cell_width: 9;
}
.grid > .cell.width-10 {
  --cell_width: 10;
}

/* UI */

.button-block {
  display: block;
}

.button-block button {
  border-radius: 0;
  box-sizing: border-box;
  border: 0;
  background-color: #0b0505b3;
  color: rgb(150, 107, 107);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 0.2rem 0.3em;
  font-family: monospace;
}

.button-block button:hover {
  background-color: #0b0505;
}